name = "gentoo-router"
memory = 2048
vcpus = 2

builder = "hvm"
type = "hvm"

# Disk (your LV)
disk = [
	'phy:/dev/vg/xen-router,xvda,w',
#	'file:/var/lib/xen/images/gentoo/install-amd64-minimal.iso,xvdc:cdrom,r'
]

# Network (2 interfaces)
vif = [
	'bridge=br0',      # WAN (Xfinity side)
#	'bridge=br-lan'    # internal LAN (we will create)
]

boot = "c"
sdl = 0
vnc = 1
vnclisten = "127.0.0.1"

# Console
serial = "pty"
stdvga = 1
